.sidebar {
  position: relative;
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  transition: width 0.5s;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switcher {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 20px;
}

.langSwitcher {
  margin-left: 15px;
}
